.form-group
{
	border: 5px solid #ff2c5d;
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
}

.onglet
{
	background-color:  #ff2c5d;
	border: none;
	border-radius: 0px;
	margin-left: 10px;
}
.onglet:hover
{
	background-color: #CF244B;
}
.btn-success
{
	background-color: #2dc89b;
	border: none;
}
.btn-success:hover
{
	background-color: #239C79;
}