
.btn-success{
    background-color: #ff2c5d;
}

.btn-success:hover{
    background-color: #ff2c5d !important;
}
.mycontent{
	margin-top: 100px;
}
#update{
	width:20%;
	padding: 10px;
	position:absolute;
	left:35%;
	top:100px;
	width:500px;
	background-color: white;
	border-radius: 5px;
	border:1px solid grey;
	box-shadow: 5px 5px 10px grey;
	z-index: 1;
}